boto3
dj-rest-auth
Django
django-allauth
django-cors-headers~=3.13.0
django-environ
django-prometheus
djangorestframework
djangorestframework-simplejwt
drf-jwt~=1.19.2
google-auth
mysqlclient
pandas
requests
uwsgi